#display-item {
    opacity: 0;
}

/* yes-no reaction section */
#display-section-2 {
    opacity: 0;
}

/* yes-no section: reaction itself*/
#display-yes-no {
    opacity: 0;
}

/* love-calc section */
#display-section-3 {
    opacity: 0;
}

/* show compatability itself*/
#display-love-calc {
    opacity: 0;
}

/* love-calc section */
#display-section-4 {
    opacity: 0;
}



.center {
    align-items: center;
}